*{
    background-color: #475569;
}

.container {
    height: 100vh;
}

.container h1{
    text-align: center;
    font-weight: bold;
    color: #f8fafc
}

.text-display {
    text-align: center;
    font-weight: bold;
    color: #f8fafc;
    letter-spacing: 0.1rem;
}

.winner-display{
    text-align: center;
    font-weight: bold;
    color: #f8fafc;
    letter-spacing: 0.2rem;
    margin-top: 24px;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 12px 128px;
    margin: 0 128px;
    gap: 8px;
}

.square{
    display: flex;
    justify-content: center;
    margin: 0;
    border: 2px solid #e2e8f0;
    border-radius: 12px;
    font-size: 8rem;
    color: #f8fafc;
    height: 128px;
    width: 140px;
}

.restart-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart-btn,
.restart-btn:focus{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #334155;
    color: #f1f5f9;
    border: 3px solid #f1f5f9;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    height: 64px;
    width: 200px;
}

.restart-btn:hover{
    color: #f1f5f9;
    border: 3px solid #f1f5f9;
    font-size: 2.2rem;
    
}
